body {
  padding: 0;
  margin: 0;
}

.nav-main {
  background-color: #00b386;
  margin-bottom: 0;
}

.container {
  max-width: 100%;
}

.required-field {
  color: red;
}

footer {
  background-color: #00664b;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 240px;
}

#profileImage {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.navbar-nav {
  margin-right: auto;
}

.formSearch {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
  outline: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

span.psw {
  float: right;
}

#resetPopup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.select-color {
  background-color: #00b386;
  border-radius: 20px;
  color: white;
}

#ul_chatroom {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 10px;
  list-style: none;
  max-height: 250px;
  overflow-y: auto;
}

#bodyChatroom {
  background-color: #99e1c7;
}

#changeButton {
  background-color: #008060;
}

#imgClub {
  width: auto;
  text-align: center;
  vertical-align: middle;
}

#imgPlayer {
  width: auto !important;
  text-align: center;
  vertical-align: middle;
}

.menu-container {
  background-color: white !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 53px;
  border-bottom: 1px solid rgb(128, 128, 128);
}

.menu-button {
  background-color: white;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease;
  outline: none !important;
  border: none !important;
}

.menu-button:hover {
  border-bottom: 6px solid #00b386 !important;
}

table .circle-cell-container {
  text-align: center;
  vertical-align: middle;
  line-height: 1;
}

table .circle-cell {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e6e6e6 !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

td {
  text-align: center !important;
  vertical-align: middle !important;
  line-height: 1;
}

th {
  text-align: center;
  vertical-align: middle;
}

select {
  padding: 0.0625em 0.25em;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none;
  background-color: #fff;
  cursor: pointer;
}

#btnImgCompetition {
  width: 18px;
}

#imgCompetition {
  text-align: center;
  vertical-align: middle;
  width: auto;
}

#imgPlayer {
  width: 50%;
  border-radius: 8px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}

.card {
  border: 1px solid #ddd;
  padding: 16px;
  text-align: center;
  width: auto !important;
  transition: background-color 0.3s ease;
}

.card:hover {
  background-color: #f8f9fa;
}

#gamesTable {
  width: 1000px;
  border-collapse: collapse;
}

#gamesTable td, #gamesTable th {
  border: 0;
  box-sizing: border-box;
}

.th-img {
  height: 96px;
  width: 96px;
  box-sizing: border-box;
}

#altLogo {
  height: 60px;
  width: auto;
  box-sizing: border-box;
}

.th-club {
  width: 372px;
  box-sizing: border-box;
}

.th-res {
  width: 62px;
  box-sizing: border-box;
}

.field-home-club-id {
  width: 96px;
}

.field-home-club-name {
  width: 372px;
}

.field-aggregate {
  width: 63px;
}

.field-away-club-name {
  width: 372px;
}

.field-away-club-id {
  width: 96px;
}

.card-img-club {
  max-height: 250px;
  width: auto;
  object-fit: cover;
  transform: scale(1.3);
}

.card-body {
  height: 205px;
}

.card-name-club {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.loader, .loaderStatsTable {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #00b386;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#ranksTable tr {
  height : 97px;
}

#rowFilters {
  height: 48px;
}

.loader-cell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loader-cell::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 15px;
  background: linear-gradient(90deg, #c9c9c9 25%, #dbdbdb 50%, #c9c9c9 75%);
  background-size: 200% 100%;
  animation: loading-animation 2s linear infinite;
}

@keyframes loading-animation {
  0% { background-position: -200% 0; }
  100% { background-position: 200% 0; }
}

#compTable td {
  height: inherit;
  width: 400px;
}

#compTable tr {
  height: 41px;
}

table td, table th{
  border:none;
}

.img-club {
  height: 50px;
  width: auto;
}

.position-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-player {
  width: 250px !important;
  height: 230px !important;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 20px;
}

.card-img-player {
  height: 100px;
  width: auto !important;
}

.separator-line {
  border: none;
  border-top: 2px solid #808080;
  margin: 10px 0;
}

.separator-news {
  border-top: 1px solid #ddd;
  margin-bottom: 10px;
}

.card-news .card-body {
  height: 580px;
}

.container-title {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  height: 50px;
  margin-bottom: 10px;
}

.line-title {
  flex: 1;
  height: 2px;
  background-color: #00664b;
  margin: 0 10px;
}

.title {
  color: #00664b;
  padding: 5px;
}

.position {
  color: #808080;
  font-family: OpenDyslexic, sans-serif;
  margin : 10px;
  align-self: flex-start;
}

.position-line-title-left {
  height: 2px;
  background-color: #808080;
  width: 50px;
}

.position-line-title-right {
  flex: 1;
  height: 2px;
  background-color: #808080;
}

#gamesEventsTable .th-img {
  text-align: center !important;
}

#gamesEventsTable td {
  text-align: left !important;
}

#gamesEventsHeader {
  background-color: #99e1c7;
  border-bottom: 1px solid #000000;
}

#bottomFixed {
  position: fixed;
  bottom: 60px;
  left: 0;
  right: 0;
  z-index: 1000;
}

.line-title, .position-line-title-left {
  margin: 0 !important;
}

.newsMarket-header {
  background-color: #00664b;
  color: white;
  padding: 10px;
}
.newsMarket-item {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.newsMarket-live {
  color: #f44336;
}

#viewMoreBtn, #showLessBtn {
  background-color: #00b386;
  color: white;
}

.timeline_aside {
  width: 40px;
  min-width: 40px;
  align-items: center;
  display: flex;
  flex-flow: column;
}

.timedot {
  background-color: #808080;
  height: 9px;
  width: 9px;
  border-radius: 100px;
  box-sizing: border-box;
  line-height: inherit;
}

.timeline {
  border-left: 0.0625em solid;
  flex-grow: 1;
  box-sizing: border-box;
  line-height: inherit;
}

.section {
  display: flex;
  position: relative;
}

.nav-link:hover, .navbar-brand:hover {
  background-color: #99e1c7;
}

#titleWelcome {
  color: #00b386;
}

#pWelcome {
  color: #00b386;
  font-size: 20px;
}

#titleWelcomeLine1, #titleWelcomeLine2 {
  background-color: #00b386;
}

#btnScrollToTop {
  background-color: rgba(128, 128, 128, 0.45);
  color: white;
  border: none;
  border-radius: 80%;
  padding: 10px;
  position: fixed;
  bottom: 270px;
  right: 80px;
  display: none;
  cursor: pointer;
  z-index: 99;
}

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Per centrare gli elementi orizzontalmente */
}

.result-image {
  width: 600px; /* Imposta la larghezza desiderata per le immagini */
  height: auto; /* Mantieni il rapporto larghezza-altezza originale */
}
